<%= favicon_link_tag 'favicon.ico' %>
<title>Pinfinity | <%= yield(:title) %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= csrf_meta_tags %>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "HTML-CSS": {
      matchFontHeight: true,
      linebreaks: {
        automatic: true,
        width: "container"
        }
    },
    tex2jax: {
    inlineMath: [['$','$']],
    processEscapes: true
    }
  });
</script>
<%= mathjax_tag %>
