<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Pinfinity | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/navbar' %>

      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>"><%= msg %></div>
      <% end %>


      <%= yield %>
    </div>
  </body>
</html>
